nav(class="wow animate__animated animate__slideInDown")
  .container
    .nav 
      .nav-logo
        a(href="https://cgspark.com/")
          img(src="/img/logo.svg", alt="CG Spark")
      .nav-links 
        a#jsonLink(href="/complementary?color=266bd9") JSON 
